<!DOCTYPE html>
<html lang="ru" ng-app="taskProjectApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="fa3ba2180b2676ad">
    <meta name="wmail-verification" content="d8f78279232e323b1677d2da0ee48922">
    <!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
    <title>Test task</title>
    <!--CSS-->
    <link rel="stylesheet" href="css/main.css"/>
    <!--HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <!--[endif]-->
    <!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <!--script src="js/jquery.js" type="text/javascript"-->
    <!--Java sqript-->
    <script type="text/javascript" src="js/main.js"></script>
    <!--script src="js/jquery.scrollify.js" type="text/javascript"-->
  </head>
  <body ng-controller="TaskProjectCtrl" ng-init="init()">
    <div ng-style="bgStyle" class="pageContainer">
      <section class="sidebar">
        <div class="userInfo">
          <div class="userImgContainer"><img src="img/homePage/sideBar/user.png" alt="User" ng-src="{{userAvatar}}" class="userImg">
                  <p ng-bind="name" class="userName">Trevor Reyes</p>
          </div>
        </div>
        <div class="projects">
          <ul class="projectsList">   
            <li class="projectItem createNewProject"><a href="#" ng-click="openProjectPage()" class="addProjectLink">
                <p>Projects</p><i class="icons8-plus"> </i></a></li>
                  <li ng-repeat="model in projects track by model.Project.id" class="projectItem"><a href="#" ng-class="activeClass(model.Project.id)" ng-click="openTasks(model.Project.id)">
                      <p class="itemMenuName">{{model.Project.title}}</p>
                      <p class="itemMenuNumber">{{model.Project.task_count}}</p></a></li>
                  <li><a>
                      <p></p>
                      <p></p></a></li>
          </ul>
        </div>
        <div class="logOut"><a href="#">Log out</a></div>
      </section>
      <!--block projItem2-->
      <!--block projItem3-->
      <main class="content">
        <section class="topPanel">
          <p>
            <button type="submit" ng-click="search()"><i class="icons8-search"></i></button>
            <input type="search" name="q" placeholder="search" ng-model="searchKeyword">
          </p>
          <nav><a href="#" title="Menu" class="dropdown-toggle moreBtn"><i class="icons8-more"></i></a>
            <ul class="dropdown">
                      <li><a href="#" ng-click="funcName()">Edit project</a></li>
                      <li><a href="#" ng-click="funcName()">Delete project</a></li>
            </ul>
          </nav>
        </section>
        <section ng-if="tasksCount != 0" class="tasks">
          <div ng-repeat="model in tasks track by model.Task.id" class="taskItem">
            <p class="taskDate">Today</p>
            <div class="taskLink"><a href="#" class="taskBtn">
                <div class="checkbox"><img src="img/homePage/content/tasks/checkbox.png" alt="Check" ng-click="compliteTask(model.Task.id)">
                  <p class="taskText">{{model[0].Task.title}}</p>
                </div></a></div>
          </div>
          <!--.taskItem
          p.taskDate Monday (12.06.2016)
          .taskLink
          
              block taskItem6
                  +tasksItems('#','img/homePage/content/tasks/checkbox.png','Check','Buy a plane tickets')
          
              hr.taskSeparator
              
              block taskItem7
                  +tasksItems('#','img/homePage/content/tasks/checkbox.png','Check','Fly away to the Thailand')
          
          -->
        </section>
        <section ng-if="tasksCount == 0" class="noTasks">
          <div class="bgImgTasks"><i class="icons8-todo-list"></i>
            <p class="bgTextTask">Have a good day</p>
          </div>
        </section>
        <!--block taskItem-->
        <!--block taskItem2-->
        <section ng-click="openTaskPage()" class="floating"><a href="#" ng-click="addTask()" class="floatingBtn"><i class="icons8-plus"></i></a></section>
      </main>
    </div>
  </body>
  <section ng-show="showBlockProjects" class="addProject">
    <div class="addProjectTitle"><a href="#" ng-click="closeProjectPage()" class="addProjectClose">
        <div class="addProjectCloseBtn"><i class="icons8-more"></i>
          <p>ESC</p>
        </div></a>
      <p>Create new project</p>
    </div>
    <div class="addProjectNameContainer">
      <input type="text" placeholder="Project name" ng-model="project" class="inputProjectName">
    </div><a href="#" ng-click="addProject()" class="submitProjectBtn">
      <div class="submitBtn"><i class="icons8-checkmark"></i></div></a>
  </section>
  <section ng-show="showBlockTask" class="addTask">
    <div class="addTaskTitle"><a href="#" ng-click="closeTaskPage()" class="addTaskClose">
        <div class="addTaskCloseBtn"><i class="icons8-more"></i>
          <p>ESC</p>
        </div></a>
      <p>Create new task</p>
    </div>
    <div class="addTaskNameContainer">
      <input type="text" placeholder="Task name" ng-model="taskNameAdd" class="inputTaskName">
    </div>
    <div class="addTaskNameContainer">
      <input type="text" placeholder="Description" ng-model="taskDescriptionAdd" class="inputTaskName">
    </div><a href="#" ng-click="addTask()" class="submitTaskBtn">
      <div ng-click="closeTaskPage" class="submitBtn"><i class="icons8-checkmark"></i></div></a>
  </section>
  <section ng-style="preloader" class="preloader">
    <div><img src="img/homePage/preloader.gif" alt="Preloader"></div>
  </section>
</html>