<section class="sidebar">
    <div class="userInfo">
        <div class="userImgContainer">
            <img src="../img/homePage/sideBar/user.png" alt="User" class="userImg">
            <p class="userName">Trevor Reyes</p>
        </div>
    </div>
    <div class="projects">
        <ul class="projectsList">
            <li class="projectItem addNewProject">
                <a href="#" class="addProjectLink">
                    <p>Projects</p>
                    <i class="icons8-plus"></i>   
                </a>
            </li>
            <li class="projectItem">
                <a href="#" class="active">
                    <p class="itemMenuName">Private</p>
                    <p class="itemMenuNumber">8</p>
                </a>
            </li>
            <li class="projectItem">
                <li class="projectItem">
                <a href="#">
                    <p class="itemMenuName">Decode</p>
                    <p class="itemMenuNumber">25</p>
                </a>
            </li>
            </li>
            <li class="projectItem">
                <li class="projectItem">
                <a href="#">
                    <p class="itemMenuName">Family</p>
                    <p class="itemMenuNumber">3</p>
                </a>
            </li>
            </li>
            <li class="projectItem">
                <li class="projectItem">
                <a href="#">
                    <p class="itemMenuName">Cookle</p>
                    <p class="itemMenuNumber">13</p>
                </a>
            </li>
            </li>
        </ul>
    </div>
    <div class="logOut">
        <a href="#">Log out</a>
    </div>
</section>