@import 'variables.scss';
@import 'mixins.scss';

//----- FONTS -----

@font-face {
    font-family: sfuiFont;
    src: url(partials/fonts/SF-UI-Text-Semibold.otf);
    src: local('☺'),
    	url('../fonts/SF-UI-Text-Semibold.eot?') format('embedded-opentype'),
        url('../fonts/SF-UI-Text-Semibold.woff') format('woff'),
        url('../fonts/SF-UI-Text-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: sfuiMedium;
    src: url(partials/fonts/SFUIText-Medium.otf);
    src: local('☺'),
    	url('../fonts/SFUIText-Medium.eot?') format('embedded-opentype'),
        url('../fonts/SFUIText-Medium.woff') format('woff'),
        url('../fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//----- End fonts -----



//----- Reset style -----

body {
    width: 100%;
    margin: 0;
    padding: 0;
	background-color: white;
}
ul, li {
	list-style: none;	
}

a {
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.topAnchor {
	height: 0px;
    margin: 0;
}


//----- SIDEBAR -----
body {
    font-size: 1.095vw;
    //display: table;
    display: block;
    background-color: $darkBg;
    min-height: 57.9em;
    margin-top: -1em;
    height: 100%;
    .pageContainer {
        //display: table-row;
        width: 100%;
        display: flex;
        height: 100%;
        min-height: 57.9em;
        background-color: $fontColor;
            .sidebar {
            position: relative;
            //display: table-cell;
            //width: 21.7em;
            //min-height: 40em;
            display: inline-block;
            width: 24%;
            //min-height: 64.9em;
            overflow: hidden;
            //height: 100%;
            background-color: $sideBarBg;
            padding: 0;
            .userInfo {
                margin-top: 2.3em;
                .userImgContainer {
                    padding-left: 2.67em;
                    margin-bottom: 1.7em;
                    margin-top: 1.3em;
                    .userName {
                        @include input-font($semiboldFont, 1em, $fontColor, 0, normal);
                        margin-left: 1em;
                        display: inline-block;
                    }
                    .userImg {
                        display: inline-block;
                        vertical-align: middle;
                        width: 3.6em;
                    }
                }
            }
            .projects {
                .projectsList {
                    margin-left: 2em;
                    padding: 0;
                    .createNewProject {
                        .addProjectLink {
                            p, i {
                                @include input-font($semiboldFont, 0.8em, $fontColor2, 0, normal);
                                margin: 1.1em 0;
                            }
                            i {
                                font-size: 1.2em;
                                color: $fontColor;
                            }
                        }
                    }
                    .projectItem {
                        .addProjectLink {
                            i {
                                padding: 0.5em 0;
                                margin: 0;
                                right: 0.7em;
                            }
                        }
                        a {
                            width: 16.8em;
                            display: block;
                            text-decoration: none;
                            border-radius: 0.33em;
                            background-color: $sideBarBg;
                            padding-left: 1.06em;
                            position: relative;
                            .itemMenuName {
                                margin: 0.75em 0;
                            }
                            p {
                                @include input-font($semiboldFont, 1em, $fontColor, 0, normal);
                                display: inline-block;
                            }
                            i, .itemMenuNumber {
                                text-align: right;
                                position: absolute;
                                right: 1.06em;
                                bottom: 0;
                                margin: .75em 0;
                            }
                        }
                        .active {
                            background-color: $hoverBg;
                            border-radius: 0.33em;
                        }
                        a:hover {
                            background-color: $hoverBg;
                        }
                    }
                }
            }
            .logOut {
                bottom: 0.5em;
                position: absolute;
                width: 18.8em;
                margin-left: 1.7em;
                border-radius: 0.33em;
                background-color: $sideBarBg;
                a {
                    @include input-font($semiboldFont, 1em, $fontColor, 0, normal);
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    padding: 1em 0 1em 1.06em;
                }
            }
            .logOut:hover {
                background-color: $hoverBg;
            }
        }
        .content {
            position: relative;
            height: 100%;
            overflow: hidden;
            background-color: $notasksBg;
            //padding-top: 1.3em;
            //display: table-cell;
            display: inline-block;
            width: 76%;
            padding: 0;
            min-height: 57.9em;
            .topPanel {
                border-bottom: 1px solid #bdbdbd;
                padding-top: 2em;
                padding-bottom: .3em;
                //padding-top: 0.9em;
                padding-bottom: 0.4em;
                .searchBlock {
                    margin: 0;
                    //margin-top: 0.2em;
                    display: inline-block;
                    input {
                        border: 0;
                        border-bottom: 1px solid $hoverBg;
                        background: none;
                        outline: none;
                    }
                    button {
                        margin-top: -0.4em;
                        margin-left: 0.8em;
                        background: none;
                        border: 0;
                        cursor: pointer;
                        i {
                            color: $hoverBg;
                            font-size: 1.7em;
                        }
                    }
                }
                nav {
                    display: inline;
                }
                .moreBtn {
                    float: right;
                    font-size: 1.5em;
                    margin-right: 0.6em;
                    text-decoration: none;
                    color: #9e9e9e;
                    margin-top: -0.3em;
                    i {
                        font-size: 1.3em;
                    }
                }.moreBtn:hover {
                    color: $hoverBg;
                }
                .dropdown-toggle {
                    border-radius: .2em .2em 0 0;
                }
                ul.dropdown {
                    display: none;
                    position: absolute;
                    min-width: 12em;
                    padding: 0;
                    border-radius: 0.66em;
                    right: 0;
                    li {
                        -webkit-transition: all 0.4s ease-out 0s;
                        -moz-transition: all 0.4s ease-out 0s;
                        -o-transition: all 0.4s ease-out 0s;
                        transition: all 0.4s ease-out 0s;
                        border-radius: 0.33em;
                        list-style-type: none;
                        a {
                            @include input-font($semiboldFont, 1em, $fontColor3, 0, normal);
                            text-decoration: none;
                            text-align: right;
                            padding: .5em 1em;
                            display: block;
                        }
                    }
                    li:hover {
                        background-color: $hoverBg;
                        a {
                            color: $fontColor;
                        }
                    }
                }
                .search {
                    margin-left: 0.9em;
                    font-size: 1.5em;
                    color: #b3bbcb;
                    text-decoration: none;
                }
            }
            .tasks {
                .taskItem {
                    width: 41.4em;
                    margin: 0 auto;
                    .taskDate {
                        @include input-font($semiboldFont, 1em, $fontColor2, 0, normal);
                        margin: 1em 0 .66em .5em;
                    }
                    .taskLink {
                        border-radius: 0.66em;
                        box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .16);
                        .taskBtn {
                            display: block;
                            border-radius: 0.66em;
                            text-decoration: none;
                            cursor: default;
                            .checkbox {
                                display: inline-block;
                                width: 15%;
                                height: 4em;
                                text-align: center;
                                vertical-align: middle;
                                img {
                                    cursor: pointer;
                                    width: 1.4em;
                                    vertical-align: middle;
                                    margin-top: 1.3em;
                                }
                            }
                            .titleTask {
                                cursor: pointer;
                                width: 84%;
                                display: inline-block;
                                .taskText {
                                @include input-font($semiboldFont, 1em, $fontColor3, 0, normal);
                                display: inline-block;
                                margin: 0;
                                padding: 0.85em 0 0.85em 1.1em;
                                border-left: 1px solid $separatorColor;
                            }
                            }
                        }
                        .taskBtn:hover {
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                        .taskSeparator {
                            width: 33.3em;
                            background-color: $separatorColor;
                            margin-top: 0;
                            margin-bottom: 0;     
                            border: none;
                            height: 1px;
                        }
                    }
                }
            }
            .noTasks {
                text-align: center;
                .bgImgTasks{
                    display: inline-block;
                    height: 100vh;
                    margin-top: 16em;
                    i {
                        font-size: 13em;
                        color: $fontColor4;
                    }
                    .bgTextTask {
                        @include input-font($mediumFont, 1.53em, $fontColor4, 0, normal);
                        margin-top: 0.6em;
                    }
                }
            }
            .floating {
                float: right;
                position: absolute;
                right: 1.9em;
                bottom: 1.8em;
                .floatingBtn {
                    display: block;
                    width: 2em;
                    height: 2em;
                    padding: 0.6em;
                    margin-top: 2.5em;
                    background-color: $hoverBg;
                    border-radius: 2.26em;
                    i {
                        font-size: 2em;
                        color: $fontColor;
                    }
                }
                .floatingBtn:hover {
                    background-color: $sideBarBg;
                }
            }
        }
    }
    .addEditProject, .taskPage {
        @include input-font($semiboldFont, 1em, $fontColor, 0, normal);
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 33.33%;
        background-color: $sideBarBg;
        .addEditProjectTitle, .taskPageTitleBlock {
            text-align: center;
            margin-top: 2.13em;
            margin-bottom: 2.8em;
            .addEditProjectClose, .taskPageClose {
                position: absolute;
                text-decoration: none;
                left: 1em;
                color: $fontColor;
                .addEditProjectCloseBtn, .addTaskPageCloseBtn {
                    i {
                        width: 1.06em;
                    }
                    p {
                        font-size: 0.6em;
                        margin: 0;
                    }
                }
            }
            .addEditProjectClose:hover, .taskPageClose:hover {
                color: $hoverBg;
            }
            .addEditProjectClose:hover {
                color: $hoverBg;
            }
            .manageTask {
                position: absolute;
                display: inline-block;
                float: right;
                right: 1em;
                .editTask {
                    color: #51555e;
                }
                .deleteTask {
                    margin-left: 1.7em;
                    color: #51555e;
                }
                .editTask:hover, .deleteTask:hover {
                    color: #fff;
                }
            }
        }
        .addProjectNameContainer, .addEditProjectNameContainer {
            margin: 0 auto;
            width: 22.8em;
            .inputProjectName, .inputEditProjectName {
                @include input-font($semiboldFont, 0.8em, $fontColor, 0, normal);
                width: 100%;
                background-color: rgba(1,1,1,0);
                border: 0;
                border-bottom: 2px solid #ccc;
                outline: none;
            }
            .inputProjectName:focus {
                outline: none;
            }
        }
        .addTaskPageDescription {
            @include input-font($mediumFont, 1.3em, $fontColor, 0, normal);
            .taskDescription {
                @include input-font($mediumFont, 0.7em, $fontColor, 0, normal);
                margin: 0 5.26em;
            }
        }
        .submitProjectBtn, .submitEditProjectBtn {
            position: absolute;
            bottom: 5em;
            right: 5em;
            text-decoration: none;
            color: $fontColor;
            .submitBtn, .submitEditBtn {
                background-color: $hoverBg;
                width: 3.33em;
                position: absolute;
                height: 3.33em;
                text-align: center;
                line-height: 3.33em;
                border-radius: 1.665em;
                -webkit-transition: all 0.4s ease-out 0s;
                -moz-transition: all 0.4s ease-out 0s;
                -o-transition: all 0.4s ease-out 0s;
                transition: all 0.4s ease-out 0s;
                i {
                    font-size: 1.5em;
                }
            }
            .submitBtn:hover, .submitEditBtn:hover {
                background-color: $fontColor4;
            }
        }
    }
    .addTask {
        @include input-font($semiboldFont, 1em, $fontColor, 0, normal);
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 33.33%;
        background-color: $sideBarBg;
        .addTaskTitle {
            text-align: center;
            margin-top: 2.13em;
            margin-bottom: 2.8em;
            .addTaskClose {
                position: absolute;
                text-decoration: none;
                left: 1em;
                color: $fontColor;
                .addTaskCloseBtn {
                    i {
                        width: 1.06em;
                    }
                    p {
                        font-size: 0.6em;
                        margin: 0;
                    }
                }
            }
            .addTaskClose:hover {
                color: $hoverBg;
            }
        }
        .addTaskNameContainer {
            margin: 0 auto 2em auto;
            width: 22.8em;
            .inputTaskName {
                @include input-font($semiboldFont, 0.8em, $fontColor, 0, normal);
                width: 100%;
                background-color: rgba(1,1,1,0);
                border: 0;
                border-bottom: 2px solid #ccc;
            }
            .inputTaskName:focus {
                outline: none;
            }
        }
        .submitTaskBtn {
            position: absolute;
            bottom: 5em;
            right: 5em;
            text-decoration: none;
            color: $fontColor;
            .submitBtn {
                background-color: $hoverBg;
                width: 3.33em;
                position: absolute;
                height: 3.33em;
                text-align: center;
                line-height: 3.33em;
                border-radius: 1.665em;
                i {
                    font-size: 1.5em;
                }
            }
            .submitBtn:hover {
                background-color: $fontColor4;
                -webkit-transition: all 0.4s ease-out 0s;
                -moz-transition: all 0.4s ease-out 0s;
                -o-transition: all 0.4s ease-out 0s;
                transition: all 0.4s ease-out 0s;
            }
        }
    }
    .preloader {
        display: none;
        width: 100%;
        position: fixed;
        top: 0;
        text-align: center;
        background-color: #fff;
        height: 100%;
        div {
            top: 35%;
            left: 46%;
            position: absolute;
            p {
                @include input-font($semiboldFont, 2em, $hoverBg, 0, normal);
            }
        }
    }
}





