/*----- VARIABLES -----*/

//Fonts
$semiboldFont: sfuiFont;
$mediumFont: sfuiMedium;


//Colors
$fontColor: #fff;
$sideBarBg: #292c33;
$fontColor2: #b3bbcb;
$fontColor3: #212121;
$separatorColor: #eaeaea;
$hoverBg: #6b6b99;
$darkBg: #000;
$notasksBg: #f7f7f7;
$fontColor4: #b1b1c8;
