extends template/doctype
block title
    title Test task
block style
    +styles('css/main.css')
block script
    +scripts('js/main.js')
block content

    include include/sidebar
    block userInfo
    block projItem
    block projItem2
    block projItem3

    main.content
        include include/topmenu
        block dropdown
    
        include include/tasks
        block taskItem1
        block taskItem2
        block taskItem3
        block taskItem4
        block taskItem5
        block taskItem6
        block taskItem7
        
        include include/floating
        
block addProject
    include include/addProject
    include include/addTask