extends template/doctype
block title
    title Test task
block style
    +styles('main.css')
block script
    +scripts('main.js')
    
block content
    h1 this page
    p klsahnlkesahgelhnselhelkhnlhk dsgvsg