include ../template/mixins

section.addTask(ng-show="showBlockTask")
    .addTaskTitle
        a.addTaskClose(href="#" ng-click="closeTaskPage()")
            .addTaskCloseBtn
                i.icons8-more
                p ESC
        p(ng-if="isTaskEdit") Edit task
        p(ng-if="!isTaskEdit") Create new task
    .addTaskNameContainer
        input.inputTaskName(type="text" placeholder="Task name" ng-model="taskNameAdd")
    .addTaskNameContainer
      input.inputTaskName(type="text" placeholder="Description" ng-model="taskDescriptionAdd")
      
    a.submitTaskBtn(href="#" ng-click="addTask()" ng-if="!isTaskEdit")
        .submitBtn(ng-click="closeTaskPage()")
            i.icons8-checkmark
            
    a.submitTaskBtn(href="#" ng-click="UpdateTask()" ng-if="isTaskEdit")
        .submitBtn(ng-click="closeTaskPage()")
            i.icons8-checkmark