include ../template/mixins

section.sidebar
    .userInfo
        .userImgContainer
            block userInfo
                +userInfo(userList)

    .projects
        ul.projectsList    
            li.projectItem.createNewProject
                a.addProjectLink(href="#" ng-click="openProjectPage()")
                    p Projects
                    i.icons8-plus 

            block projItem
                +menuItems()

    .logOut
        a(href="#") Log out
