include ../template/mixins

section.sidebar
    .userInfo
        .userImgContainer
            block userInfo
                +userInfo(userList)

    .projects
        ul.projectsList    
            li.projectItem.createNewProject
                a.addProjectLink(href="#" ng-click="openProjectPage()")
                    p Projects
                    i.icons8-plus 
                    
            block projItem
                +menuItems('active','#','itemMenuName','Private','itemMenuNumber','8','projectItem')
                
            block projItem1
                +menuItems('notactive','#','itemMenuName','Decode','itemMenuNumber','25','projectItem')

            block projItem2
                +menuItems('notactive','#','itemMenuName','Family','itemMenuNumber','3','projectItem')
            
            block projItem3
                +menuItems('notactive','#','itemMenuName','Cookle','itemMenuNumber','13','projectItem')


    .logOut
        a(href="#") Log out
