include ../template/mixins

section.taskPage(ng-show="showTaskBlock")
    .taskPageTitleBlock
        a.taskPageClose(href="#" ng-click="closePageTask()")
            .addTaskPageCloseBtn
                i.icons8-more
                p ESC
        .manageTask
            a.editTask(href="#" ng-click="editTask(taskId, taskName, taskDescription)")
                i.icons8-edit
            a.deleteTask(href="#" ng-click="deleteTask(taskId)")
                i.icons8-delete
        p.taskPageTitle(ng-bind="taskName")
    .addTaskPageDescription
        p.taskDescription(ng-bind="taskDescription")