section.tasks(ng-if="tasksCount != 0")
    .taskItem(ng-repeat="model in tasks track by model.Task.id")
            p.taskDate Today
            .taskLink
                a.taskBtn(href="#")
                    .checkbox
                        img(src="img/homePage/content/tasks/checkbox.png" alt="Check" ng-click="compliteTask(model.Task.id)")
                        p.taskText(ng-click="openTask(model.Task.title, model.Task.description)") {{model.Task.title}}
    //.taskItem
        p.taskDate Monday (12.06.2016)
        .taskLink
        
            block taskItem6
                +tasksItems('#','img/homePage/content/tasks/checkbox.png','Check','Buy a plane tickets')

            hr.taskSeparator
            
            block taskItem7
                +tasksItems('#','img/homePage/content/tasks/checkbox.png','Check','Fly away to the Thailand')

section.noTasks(ng-if="tasksCount == 0")
    .bgImgTasks
        i.icons8-todo-list
        p.bgTextTask Have a good day
