include ../template/mixins

section.topPanel

    p
        button(type="submit" ng-click="search()")
            i.icons8-search
        input(type="search" name="q" placeholder="search" ng-model="searchKeyword")

    nav
        a.dropdown-toggle.moreBtn(href="#" title="Menu")
            i.icons8-more
        ul.dropdown
            block dropdown
            +dropdownItems('#','Edit project', 'updateTask')
            +dropdownItems('#','Delete project', 'deleteTask')
          
